.colorbox, .cbox-overlay, .cbox-wrapper{left:0;overflow:hidden;position:absolute;top:0;z-index:9999;}
.cbox-overlay{background:#000;height:100%;position:fixed;width:100%;}
.cbox-content{background:#fff;overflow:hidden;position:relative;}
.cbox-loaded-content{margin-bottom:100px;overflow:auto;}
.cbox-loaded-content iframe{border:0;display:block;height:100%;width:100%;}
.cbox-loading-overlay{position:absolute;left:0;text-align:center;top:0;width:100%;}
.cbox-controls{bottom:0;height:80px;left:0;padding:10px;position:absolute;}
.cbox-previous, .cbox-next, .cbox-close, .cbox-slideshow{cursor:pointer;}