/*
    ColorBox Core Style
    The following rules are the styles that are consistant between themes.
    Avoid changing this area to maintain compatability with future versions of ColorBox.
*/
.colorbox, .cbox-overlay, .cbox-wrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
.cbox-overlay{position:fixed; width:100%; height:100%;}
.cbox-middle-left, .cbox-bottom-left{clear:left;}
.cbox-content{position:relative; overflow:hidden;}
.cbox-loaded-content{overflow:auto;}
.cbox-loaded-content iframe{display:block; width:100%; height:100%; border:0;}
.cbox-title{margin:0;}
.cbox-loading-overlay, .cbox-loading-graphic{position:absolute; top:0; left:0; width:100%;}
.cbox-previous, .cbox-next, .cbox-close, .cbox-slideshow{cursor:pointer;}

/* 
    Example user style
    The following rules are ordered and tabbed in a way that represents the
    order/nesting of the generated HTML, so that the structure easier to understand.
*/
.cbox-overlay{background:url(../images/overlay.png) 0 0 repeat;}
.colorbox{}
    .cbox-top-left{width:21px; height:21px; background:url(../images/controls.png) -100px 0 no-repeat;}
    .cbox-top-right{width:21px; height:21px; background:url(../images/controls.png) -129px 0 no-repeat;}
    .cbox-bottom-left{width:21px; height:21px; background:url(../images/controls.png) -100px -29px no-repeat;}
    .cbox-bottom-right{width:21px; height:21px; background:url(../images/controls.png) -129px -29px no-repeat;}
    .cbox-middle-left{width:21px; background:url(../images/controls.png) left top repeat-y;}
    .cbox-middle-right{width:21px; background:url(../images/controls.png) right top repeat-y;}
    .cbox-top-center{height:21px; background:url(../images/border.png) 0 0 repeat-x;}
    .cbox-bottom-center{height:21px; background:url(../images/border.png) 0 -29px repeat-x;}
    .cbox-content{background:#fff;}
        .cbox-loaded-content{margin-bottom:28px;}
        .cbox-title{position:absolute; bottom:4px; left:0; text-align:center; width:100%; color:.949494;}
        .cbox-current{position:absolute; bottom:4px; left:58px; color:.949494;}
        .cbox-slideshow{position:absolute; bottom:4px; right:30px; color:.0092ef;}
        .cbox-previous{position:absolute; bottom:0; left:0px; background:url(../images/controls.png) -75px 0px no-repeat; width:25px; height:25px; text-indent:-9999px;}
        .cbox-previous.hover{background-position:-75px -25px;}
        .cbox-next{position:absolute; bottom:0; left:27px; background:url(../images/controls.png) -50px 0px no-repeat; width:25px; height:25px; text-indent:-9999px;}
        .cbox-next.hover{background-position:-50px -25px;}
        .cbox-loading-overlay{background:url(../images/loading_background.png) center center no-repeat;}
        .cbox-loading-graphic{background:url(../images/loading.gif) center center no-repeat;}
        .cbox-close{position:absolute; bottom:0; right:0; background:url(../images/controls.png) -25px 0px no-repeat; width:25px; height:25px; text-indent:-9999px;}
        .cbox-close.hover{background-position:-25px -25px;}

/*
    The following fixes png-transparency for IE6.  
    It is also necessary for png-transparency in IE7 & IE8 to avoid 'black halos' with the fade transition
    
    Since this method does not support CSS background-positioning, it is incompatible with CSS sprites.
    Colorbox preloads navigation hover classes to account for this.
    
    !! Important Note: AlphaImageLoader src paths are relative to the HTML document,
    while regular CSS background images are relative to the CSS document.
*/
.cbox-ie .cbox-top-left{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/internet_explorer/borderTopLeft.png, sizingMethod='scale');}
.cbox-ie .cbox-top-center{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/internet_explorer/borderTopCenter.png, sizingMethod='scale');}
.cbox-ie .cbox-top-right{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/internet_explorer/borderTopRight.png, sizingMethod='scale');}
.cbox-ie .cbox-bottom-left{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/internet_explorer/borderBottomLeft.png, sizingMethod='scale');}
.cbox-ie .cbox-bottom-center{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/internet_explorer/borderBottomCenter.png, sizingMethod='scale');}
.cbox-ie .cbox-bottom-right{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/internet_explorer/borderBottomRight.png, sizingMethod='scale');}
.cbox-ie .cbox-middle-left{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/internet_explorer/borderMiddleLeft.png, sizingMethod='scale');}
.cbox-ie .cbox-middle-right{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/internet_explorer/borderMiddleRight.png, sizingMethod='scale');}
